<h2>New Post</h2>
<div class="col-md-6">
    <form class="form post-form">
        <div class="form-group">
            <label for="post-title">title:</label>
            <input class="form-input" type="text" id="post-title" />
        </div>
        <div class="form-group">
            <textarea name="post-content" id="post-content" rows="10" cols="77"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">add post</button>
        </div>
    </form>
</div>
<script src="./public/js/post.js"></script>